{% extends "layout.html" %}

{% block title %}Forum{% endblock %}

{% block content %}
  <h1>Welcome to mrsnuffleupalove.com!</h1>
  <p>Do you love Mr. Snuffleupapus? Do you want to share that love with someone else who loves him as much as you do? Then mrsnuffleupalove.com is the site for you! Post about your love for our God, and meet people who feel the EXACT. SAME. WAY!!1!11! </p>
  <br>
<p>COMMUNITY GUIDELINES:</p>
<br>
<p>-Keep discussions on topic (if you mention Big Bird, you WILL BE BANNED)</p>
<p>-Be appropriate. No profanity (Mr. Snuffeupagus is only 4 1/2 years old)</p>
  <form action='/posted' method="post">
    <textarea name="message" style="width:100%; height:100px;"></textarea>
    <br>
    <input type="submit" value="Post">
  </form>
  
  {{ past_posts }}


{% endblock %}
